<mat-toolbar class="titleComponent" >
    <div>
        <h2>Seleccion dias festivos</h2>
    </div>
</mat-toolbar>

<mat-toolbar  class="bodyBuscadores" >
    <div class="buscadorFechas">
        <mat-form-field >
            <mat-label>Validar fecha</mat-label>    
            <mat-hint>MM/DD/YYYY</mat-hint>
            <input matInput [matDatepicker] = "picker" [(ngModel)]="fechasPicker">
            <mat-datepicker-toggle matIconSuffix [for]="picker">
            </mat-datepicker-toggle>
            <mat-datepicker #picker/>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="verificar()" >Verificar </button>
    </div>
    
    <div class="buscadorNombre">
        <mat-form-field >
            <mat-label>Nombre del festivo</mat-label>
            <input matInput [(ngModel)] = "nombreFestivo">
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="buscarNombre()" >Buscar por nombre</button>
    </div>

</mat-toolbar>

<div class ="botones">
    <!-- Barra o algo que muestre el año -->
    <button mat-raised-button color ="primary" (click) ="logica()" >Listar Festivos</button> 
    
    <button mat-raised-button color ="primary" (click) ="agregar()" >Agregar</button>
    <button mat-raised-button color ="accent" (click) ="modificar()" >Modificar</button>
    <button mat-raised-button color ="accent" (click) ="obtener()" >Obtener Festivo</button>
    <button mat-raised-button color ="warn" (click) ="verificarEliminar()" >Eliminar</button>
</div>

<div>
    <ngx-datatable class="dark" [rows]="festivos" [columns]="columnasLogica" [limit] = "10" 
    [headerHeight] = "50" [footerHeight]="50" [rowHeight]="'auto'" [columnMode]="modoColumnas.force" [selectionType]="seleccionarFestivo.single" (activate)="escoger($event)">  
        
    </ngx-datatable>
</div>
